@page "/createaccountasadmin"
@inject NavigationManager Nav
@using Super_Jew_2._0.Backend.ShulRequests; 
@using Super_Jew_2._0.Backend
@using Super_Jew_2._0.Backend.Services

<h3>Create Account</h3>

<div class="container mt-4">
    <EditForm Model="this" OnValidSubmit="HandleValidSubmit">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="name">Name:</label>
                <InputText class="form-control" id="name" @bind-Value="name" required />
            </div>

            <div class="col-md-4 mb-3">
                <label for="name">Username:</label>
                <InputText type="username" class="form-control" id="email" @bind-Value="username" required />
            </div>
            
                        <div class="col-md-4 mb-3">
                            <label for="password">Password:</label>
                            <InputText type="password" class="form-control" id="email" @bind-Value="password" required />
                        </div>
        </div>

        <div class="row">

            <div class="col-md-4 mb-3">
                <label for="shul">Date Of Birth: </label>
                <InputText class="form-control" id="shul_name" @bind-Value="dob" required />
            </div>
            <div class="col-md-4 mb-3">
                <label for="rabbi">Religious Denomination:</label>
                <InputText class="form-control" id="rabbi" @bind-Value="religDenom" required />
            </div>
            
            <div class="col-md-4 mb-3">
                <label for="accountType">ACCOUNT TYPE:</label>
                <InputSelect class="form-control" @bind-Value="accountType" required >
                    <option value="ADMIN">ADMIN</option>
                    <option value="GABBAI">GABBAI</option>
                    <option value="USER">USER</option>
                </InputSelect>
            </div>
            
        </div>
        
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-lg">
                            <span>Create Account!</span>
                        </button>
                    </div>
                </div>
        
    </EditForm>
</div>

@code {
    private string name = " ";
    private string username;
    private string dob = "";
    private string religDenom = "";
    private string password = "";
    private string accountType = "";

    private void HandleValidSubmit()
    {
        
        Console.WriteLine("ACCOUNT TYPE:" + accountType);
        
        User newUser = new User
        {
            Name = name,
            Username = username,
            DateOfBirth = dob,
            ReligiousDenomination = religDenom,
            AccountType = accountType
        };
        
        Console.WriteLine(newUser.Name);
        Console.WriteLine(newUser.AccountType);
        
        ShulService.CreateNewUserAccount(newUser, password);
        
        Nav.NavigateTo("/createaccountfinal");
    }
}
