@using Super_Jew_2._0.Backend

@code {
    [Parameter]
    public Shul CurrentShul { get; set; }

    [Parameter]
    public bool IsFullCard { get; set; } = false;

    [Parameter]
    public String Location { get; set;}

    [Parameter]
    public String ContactInfo { get; set; }


    [Parameter]
    public EventCallback OnCardClick { get; set; }


    private void CardClicked()
    {
        OnCardClick.InvokeAsync(null);
    }
}

@if (IsFullCard)
{
    <div class="card" @onclick="CardClicked">
        <div class="card-header">@CurrentShul.ShulName</div>
        <div class="data-field"><strong>Location:</strong> @CurrentShul.Location</div>
        <div class="data-field"><strong>Gabbai:</strong> @CurrentShul.Location</div>

        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <a href="#" class="btn btn-lg">
                        <span>Subsrcibe!</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="card-name-box" @onclick="CardClicked">@CurrentShul.ShulName</div>
}

