@using Super_Jew_2._0.Backend
@using Super_Jew_2._0.Backend.Services

@code {
    [Parameter]
    public Shul CurrentShul { get; set; }

    [Parameter]
    public EventCallback<Shul> OnSubmit { get; set; }

    private Shul editableShul;
    private List<User> gabbais;
    private int selectedGabbaiId;

    protected override void OnInitialized()
    {
        editableShul = CurrentShul;
        gabbais = ShulService.GetAllGabbais();
    }

    private void Submit()
    {
        Console.WriteLine("Selected gabai id: " + selectedGabbaiId);
        //ShulService.UpdateGabbai(editableShul.ShulID, selectedGabbaiId);
        OnSubmit.InvokeAsync(editableShul);

    }
    
    private void RemoveShul()
    {
        Console.WriteLine("Selected gabai id: " + selectedGabbaiId);
    //ShulService.UpdateGabbai(editableShul.ShulID, selectedGabbaiId);
        OnSubmit.InvokeAsync(editableShul);

    }
    
}

<div class="card">
    <div class="card-header">
        @editableShul.ShulName
    </div>
    

    
    <div class="card-body">
        <div class="field">
            <label>Location: </label>
            <input type="text" @bind="editableShul.Location" />
        </div>
        <div class="field">
            <label>Contact Info: </label>
            <input type="text" @bind="editableShul.ContactInfo" />
        </div>
        <div class="field">
            <label>Shachris Time: </label>
            <input type="text" @bind="editableShul.ShachrisTime" />
        </div>
        <div class="field">
            <label>Mincha Time: </label>
            <input type="text" @bind="editableShul.MinchaTime" />
        </div>
        <div class="field">
            <label>Maariv Time: </label>
            <input type="text" @bind="editableShul.MaarivTime" />
        </div>
        
<div class="field">
        <label>Change Gabbai: </label>
        <select @bind="selectedGabbaiId">
            @foreach (var gabbai in gabbais)
            {
                <option value="@gabbai.UserID">@gabbai.Name</option>
            }
        </select>
    </div>
        
        <button class="btn btn-primary" @onclick="Submit">Submit</button>
        <button @onclick="RemoveShul" class="btn btn-secondary">Remove Shul</button>
        ARE U SURE YOU WANT TO REMOVE???
       
    </div>

    
</div>