@page "/gabai-dashboard"

<h3>Gabai Dashboard</h3>

<!-- Links to other pages accessible to Gabai -->
<NavLink href="/updateshul">Update Shul</NavLink>
<NavLink href="/gabairegistration">Gabai Registration</NavLink>
<NavLink href="/gabaisignup">Gabai Sign-Up</NavLink>

@* Additional dashboard content here *@