@page "/gabbairegistration"



    <div class="message">
        <p>Thanks for registering, please check your email for confirmation</p>
        
        <img src="SupermanJewish.jpg" alt="Image Description">
    </div>



@code {

}
