@page "/gabbairegistration"



    <div class="message">
        <p>Thanks for registering a Shul! You can check the my updates page for the decision. </p>
        <img src="SupermanJewish.jpg" alt="Image Description">
    </div>



@code {

}
