@page "/"

<PageTitle>Index</PageTitle>

<h1>Super Jew!</h1>
<h5>Welcome to SuperJew, the home for your Shul Information!</h5>


@{
    var imagePath = "SuperJ2.png";
}

<img src="@imagePath" alt="Description of image">



