@page "/myshuls"

@inject NavigationManager NavigationManager
@using Super_Jew_2._0.Backend.Services
@inject Super_Jew_2._0.Backend.Services.ShulService ShulService
@using Super_Jew_2._0.Backend


<h3><span class="myshuls-title">MyShuls</span>&trade;</h3>


@if (shulList != null)
{
    <div class="container">
        <div class="row">
            @foreach (var shul in shulList)
            {
                <div class="col-sm-4">
                    <ShulCard CurrentShul="@shul"
                              IsFullCard="@IsShulExpanded(shul.ShulName)"
                              OnCardClick="() => HandleCardClick(shul.ShulName)" />
                </div>
            }
        </div>
    </div>
}

<button class="button-92" role="button" @onclick="NavigateToAddShuls">AddMore</button>


@code {
   
    private List<string> shulCards;
    private List<Shul> shulList; 
    private string expandedShulName;
    private User user;
    private String password = "password123";
    private String username = "john_doe"; 




    private User GetUser() => user = ShulService.GetFollowedShulsForUser(username, password);




    private void NavigateToAddShuls()
    {
        NavigationManager.NavigateTo("/addshuls"); 
    }

    protected override void OnInitialized()
    {
        user = GetUser(); 
        if (user?.FollowedShuls != null)
        {
            shulList = user.FollowedShuls; 
        }
    }

    private void HandleCardClick(string shulName)
    {
        expandedShulName = shulName == expandedShulName ? null : shulName;
    }

    private bool IsShulExpanded(string shulName)
    {
        return shulName == expandedShulName;
    }

    
}
