@page "/usertogabaiupdate"



    <div class="message">
        <p>You are now a Gabbai, click the button in add shuls to submit your shul! </p>
        <img src="SupermanJewish.jpg" alt="Image Description">
    </div>



@code {

}
