@page "/user-dashboard"

<h3>User Dashboard</h3>

<div>
    <NavLink class="nav-link" href="/">Home</NavLink>
    <NavLink class="nav-link" href="/myshuls">My Shuls</NavLink>
    <NavLink class="nav-link" href="/addshuls">Add Shuls</NavLink>
</div>

@* The content below will be displayed when one of the above links is selected. *@
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <h4>Sorry, there's nothing at this address.</h4>
    </NotFound>
</Router>

@code {
    // Any additional C# code needed for the dashboard can go here.
}
