@using Super_Jew_2._0.Backend.ShulServices
@inject UserService UserService
@inject NavigationManager Nav

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SuperJew!</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@*
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <!--
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MyShuls">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MyShuls&trade;
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddShuls">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AddShuls
            </NavLink>
        </div><div class="nav-item px-3">
            <NavLink class="nav-link" href="MyUpdates">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MyUpdates
            </NavLink>
        </div>


    </nav>
    </div>
    *@

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <!-- Common link -->
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                
            @if (UserService.CurrentUser == null)
            {
                <NavLink class="nav-link" href="Login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                </NavLink>
            }
            
    
            <!-- links based on user role -->
            @if (UserService.CurrentUser?.AccountType == "ADMIN")
            {
                <NavLink class="nav-link" href="MyShuls">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> MyShuls&trade;
                </NavLink>
                
                <NavLink class="nav-link" href="AddShuls">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> AddShuls
                </NavLink>
                
                <NavLink class="nav-link" href="AdminReviewPage">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Admin Review Page
                </NavLink>
                
                <NavLink class="nav-link" href="createaccount">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Create a Gabbai
                </NavLink>
                
                <NavLink class="nav-link" href="shulsetup">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Shul Setup
                </NavLink>
                
                <!-- logout button -->
                <button class="nav-link" @onclick="Logout">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
                </button>
                
                <!-- Add in Rest of gabbai pages -->
            }
            @if (UserService.CurrentUser?.AccountType == "GABBAI")
            {
                <NavLink class="nav-link" href="MyShuls">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> MyShuls&trade;
                </NavLink>
                
                <NavLink class="nav-link" href="AddShuls">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> AddShuls
                </NavLink>
                
                <NavLink class="nav-link" href="MyUpdates">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> MyUpdates
                </NavLink>
                
                <!-- logout button -->
                <button class="nav-link" @onclick="Logout">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
                </button>
            }
            @if (UserService.CurrentUser?.AccountType == "USER")
            {
                Console.WriteLine("user logged in!");
                <NavLink class="nav-link" href="MyShuls">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> MyShuls&trade;
                </NavLink>
                
                <NavLink class="nav-link" href="AddShuls">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> AddShuls
                </NavLink>
                
                <!-- logout button -->
                <button class="nav-link" @onclick="Logout">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
                </button>

            }
            
            
            </div>
        </nav>
    </div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    protected override void OnInitialized()
    {
        UserService.OnUserChanged += StateHasChanged;
    }

    public void Dispose()
    {
        UserService.OnUserChanged -= StateHasChanged;
    }
    
    private void Logout()
    {
        UserService.Logout(); // Perform logout
        Nav.NavigateTo("/", forceLoad: true);
    }
}
