@page "/addshuls"
@inject NavigationManager NavigationManager
@using Super_Jew_2._0.Backend;
@using Super_Jew_2._0.Backend.Services;
@using Super_Jew_2._0.Backend.ShulServices
@inject Super_Jew_2._0.Backend.Services.ShulService ShulService
@using Super_Jew_2._0.Data;

<h3><span class="myshuls-title">Add Shuls</span>&trade;</h3>


@if (shulList != null)
{
    <div class="container">
        <div class="row">
            
            @foreach (var shul in shulList)
            {
                if (!IsUserSubscribedToShul(shul))
                {
                    <div class="col-sm-4">
                        <AddShulCard CurrentShul="@shul"
                                     IsFullCard="@IsShulExpanded(shul.ShulName)"
                                     OnCardClick="() => HandleCardClick(shul.ShulName)"/>
                    </div>
                }
            }
        </div>
    </div>

}


@if (UserService.CurrentUser?.AccountType == "GABBAI")
{
    <button class="button-92" role="button" @onclick="NavigateToGabbai">Don't see your Shul? Click here!</button>
}

 @if (UserService.CurrentUser?.AccountType == "USER")
 {
     <button class="button-92" role="button" @onclick="UpgradeAccount">Want to become a Gabbai and Add your Shul?? Click Here!</button> 
 }



@code {
    private List<Shul> shulList;
    private string expandedShulName;

   

    protected override void OnInitialized() => shulList = ShulService.GetAllAvailableShuls();



    private void NavigateToGabbai() => NavigationManager.NavigateTo("/shulsignup");

    private void HandleCardClick(string shulName)
    {
        expandedShulName = shulName == expandedShulName ? null : shulName;
    }

    private bool IsShulExpanded(string shulName)
    {
        return shulName == expandedShulName;
    }

    private void UpgradeAccount()
    {
        NavigationManager.NavigateTo("/becomeagabbai"); 
    }
    
    private bool IsUserSubscribedToShul(Shul shul)
    {
        return UserService.CurrentUser.FollowedShuls.Any(followedShul => followedShul.ShulID == shul.ShulID);
    }
    
}
