@page "/shulsignup"
@inject NavigationManager Nav
@using Super_Jew_2._0.Backend.ShulRequests; 
@using Super_Jew_2._0.Backend.Services
@using Super_Jew_2._0.Backend.ShulServices

<h3>Shul Application</h3>

<div class="container mt-4">
    <EditForm Model="this" OnValidSubmit="HandleValidSubmit">

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="shul">Shul Name:</label>
                <InputText class="form-control" id="shul_name" @bind-Value="shul_name" required />
            </div>
            <div class="col-md-4 mb-3">
                <label for="rabbi">Rabbi:</label>
                <InputText class="form-control" id="rabbi" @bind-Value="rabbi" required />
            </div>
            <div class="col-md-4 mb-3">
                <label for="location">Location:</label>
                <InputText class="form-control" id="location" @bind-Value="location" required />
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 mb-3">
                <label for="shachris">Shacris Time(s):  </label>
                <InputText class="form-control" id="mincha" @bind-Value="shachris_time" required />
            </div>
            <div class="col-md-4 mb-3">
                <label for="mincha">Mincha Time(s): </label>
                <InputText class="form-control" id="mincha" @bind-Value="mincha_time" required />
            </div>
            <div class="col-md-4 mb-3">
                <label for="maariv">Maariv Time(s): </label>
                <InputText class="form-control" id="maariv" @bind-Value="maariv_time" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="denomination">Denomination: </label>
                <InputText class="form-control" id="denomination" @bind-Value="denomination" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-lg">
                    <span>Submit Application!</span>
                </button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private string shul_name = "";
    private string rabbi = string.Empty;
    private string location = string.Empty;
    private string shachris_time = string.Empty;
    private string mincha_time = string.Empty;
    private string maariv_time = string.Empty;
    private string denomination = string.Empty;


    private void HandleValidSubmit()
    {
        var pending = new ShulRequest
        {
            ShulName = shul_name,
            GabbaiID = UserService.CurrentUser.UserID,
            Location = shachris_time,
            Denomination = denomination,
            ContactInfo = "",
            ShachrisTime = shachris_time,
            MinchaTime = mincha_time,
            MaarivTime = maariv_time,
        };
        
        ShulService.InitiateGabaiShulAddition(UserService.CurrentUser.UserID, pending);
        
        Nav.NavigateTo("/gabbairegistration");
    }
}
