/* _content/Super Jew 2.0/Pages/AddShulCard.razor.rz.scp.css */
body[b-9pn3ni3eml] {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.card[b-9pn3ni3eml] {
    width: 300px;
    border-radius: 20px;
    border: 2px solid #add8e6; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; 
}

.card-header[b-9pn3ni3eml] {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.data-field[b-9pn3ni3eml] {
    font-size: 18px;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 10px 0;
}

.card-container[b-9pn3ni3eml] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    padding: 20px; 
}

.card-name-box[b-9pn3ni3eml] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    background-color: #add8e6; 
    border-radius: 10px; 
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out; 
    /* Text styling */
    color: #333; 
    font-weight: bold;
}

    .card-name-box:hover[b-9pn3ni3eml] {
        background-color: #9acfea; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

.btn[b-9pn3ni3eml] {
    color: #555;
    font-family: 'Finlandica', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid #ef0f34;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

    .btn:focus[b-9pn3ni3eml] {
        color: #555;
    }

    .btn:hover[b-9pn3ni3eml] {
        color: #fff;
    }

    .btn[b-9pn3ni3eml]:before {
        content: "";
        background: #ef0f34;
        height: 10px;
        width: 10px;
        border-radius: 6px;
        position: absolute;
        top: 3px;
        right: 3px;
        z-index: -1;
        transition: all 0.3s ease 0s;
    }

    .btn:hover[b-9pn3ni3eml]:before {
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
    }

@media only screen and (max-width: 767px) {
    .btn[b-9pn3ni3eml] {
        margin-bottom: 30px;
    }
}
/* _content/Super Jew 2.0/Pages/AddShuls.razor.rz.scp.css */
.shul-list[b-m8hys72w5t] {
    padding: 10px;
}

.shul-item[b-m8hys72w5t] {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px;
    margin: 5px auto; 
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    max-width: 200px; 
    height: 100px; 
    background-color: #9932CC;
    color: #ffffff;
    font-weight: bold;
}

.shul-details[b-m8hys72w5t] {
    margin-top: 10px;
    border-top: 1px solid #eee; 
    padding-top: 10px;
}

.shul-item:hover[b-m8hys72w5t] {
    background-color: #dcedc8; 
}

.button-92[b-m8hys72w5t] {
    position: fixed;
    bottom: 20px;
    right: 20px;
    --c: #fff;
    /* text color */
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat, #004dff;
    /* background color */
    color: #0000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
    text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0 var(--c), calc(var(--_i,-1)*-0.08em) .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;
}

.button-92:hover[b-m8hys72w5t],
.button-92:focus-visible[b-m8hys72w5t] {
    --_p: 0%;
    --_i: 1;
}

.button-92:active[b-m8hys72w5t] {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q #0005;
    transition: 0s;
}

.button-92[b-m8hys72w5t] {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
    padding: .1em .3em;
}
/* _content/Super Jew 2.0/Pages/GabbaiRegistration.razor.rz.scp.css */
body[b-j4dc6xk5pt] {
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Custom font */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ADD8E6; /* Light blue background */
}

.message p[b-j4dc6xk5pt] {
    color: #00008B; /* Dark blue color */
    font-weight: bold; /* Bold text */
}

img[b-j4dc6xk5pt] {
    max-width: 200px;
    height: auto;
}
/* _content/Super Jew 2.0/Pages/GabbaiSignUp.razor.rz.scp.css */
body[b-j06nc7cout] {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container[b-j06nc7cout] {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px; /* Space between grid items */
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form[b-j06nc7cout] {
    display: flex;
    flex-direction: column;
}

h2[b-j06nc7cout] {
    text-align: center;
    margin-bottom: 20px;
}

label[b-j06nc7cout] {
    margin-bottom: 5px;
}

input[type="text"][b-j06nc7cout],
input[type="email"][b-j06nc7cout],
input[type="password"][b-j06nc7cout],
input[type="shul"][b-j06nc7cout]
{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[b-j06nc7cout] {
    background: #004dff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover[b-j06nc7cout] {
        background: #0031cc;
    }
.btn[b-j06nc7cout] {
    color: #555;
    font-family: 'Finlandica', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid #ef0f34;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

    .btn:focus[b-j06nc7cout] {
        color: #555;
    }

    .btn:hover[b-j06nc7cout] {
        color: #fff;
    }

    .btn[b-j06nc7cout]:before {
        content: "";
        background: #ef0f34;
        height: 10px;
        width: 10px;
        border-radius: 6px;
        position: absolute;
        top: 3px;
        right: 3px;
        z-index: -1;
        transition: all 0.3s ease 0s;
    }

    .btn:hover[b-j06nc7cout]:before {
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
    }

@media only screen and (max-width: 767px) {
    .btn[b-j06nc7cout] {
        margin-bottom: 30px;
    }
}

/* _content/Super Jew 2.0/Pages/MyShuls.razor.rz.scp.css */


.button-92[b-j5ce8kqjsh] {
    position: fixed;
    bottom: 20px;
    right: 20px;
    --c: #fff;
    /* text color */
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat, #004dff;
    /* background color */
    color: #0000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
    text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0 var(--c), calc(var(--_i,-1)*-0.08em) .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;
}

.button-92:hover[b-j5ce8kqjsh],
.button-92:focus-visible[b-j5ce8kqjsh] {
    --_p: 0%;
    --_i: 1;
}

.button-92:active[b-j5ce8kqjsh] {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q #0005;
    transition: 0s;
}

.button-92[b-j5ce8kqjsh] {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
    padding: .1em .3em;
}


/* _content/Super Jew 2.0/Pages/ShulCard.razor.rz.scp.css */
body[b-gu853cxgv6] {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.card[b-gu853cxgv6] {
    width: 300px;
    border-radius: 20px;
    border: 2px solid #add8e6; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; 
   
}

.card-header[b-gu853cxgv6] {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.data-field[b-gu853cxgv6] {
    font-size: 18px;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 10px 0;
}
.card-container[b-gu853cxgv6] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Creates columns */
    gap: 20px; /* space between cards */
    padding: 20px; 
}
.card-name-box[b-gu853cxgv6] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    background-color: #add8e6; 
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out; 
    /* Text styling */
    color: #333; 
    font-weight: bold;
}

    .card-name-box:hover[b-gu853cxgv6] {
        background-color: #9acfea; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    }


/* _content/Super Jew 2.0/Pages/UpdateShul.razor.rz.scp.css */
body[b-m1hu2vo8wu] {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container[b-m1hu2vo8wu] {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px; /* Space between grid items */
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form[b-m1hu2vo8wu] {
    display: flex;
    flex-direction: column;
}

h2[b-m1hu2vo8wu] {
    text-align: center;
    margin-bottom: 20px;
}

label[b-m1hu2vo8wu] {
    margin-bottom: 5px;
}

input[type="text"][b-m1hu2vo8wu],
input[type="email"][b-m1hu2vo8wu],
input[type="password"][b-m1hu2vo8wu],
input[type="shul"][b-m1hu2vo8wu] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[b-m1hu2vo8wu] {
    background: #004dff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover[b-m1hu2vo8wu] {
        background: #0031cc;
    }

.btn[b-m1hu2vo8wu] {
    color: #555;
    font-family: 'Finlandica', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid #ef0f34;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

    .btn:focus[b-m1hu2vo8wu] {
        color: #555;
    }

    .btn:hover[b-m1hu2vo8wu] {
        color: #fff;
    }

    .btn[b-m1hu2vo8wu]:before {
        content: "";
        background: #ef0f34;
        height: 10px;
        width: 10px;
        border-radius: 6px;
        position: absolute;
        top: 3px;
        right: 3px;
        z-index: -1;
        transition: all 0.3s ease 0s;
    }

    .btn:hover[b-m1hu2vo8wu]:before {
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
    }

@media only screen and (max-width: 767px) {
    .btn[b-m1hu2vo8wu] {
        margin-bottom: 30px;
    }
}
/* _content/Super Jew 2.0/Shared/MainLayout.razor.rz.scp.css */
.page[b-2r3hd0xphq] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-2r3hd0xphq] {
    flex: 1;
}

.sidebar[b-2r3hd0xphq] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-2r3hd0xphq] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-2r3hd0xphq]  a, .top-row .btn-link[b-2r3hd0xphq] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-2r3hd0xphq] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-2r3hd0xphq] {
        display: none;
    }

    .top-row.auth[b-2r3hd0xphq] {
        justify-content: space-between;
    }

    .top-row a[b-2r3hd0xphq], .top-row .btn-link[b-2r3hd0xphq] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2r3hd0xphq] {
        flex-direction: row;
    }

    .sidebar[b-2r3hd0xphq] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-2r3hd0xphq] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-2r3hd0xphq], article[b-2r3hd0xphq] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Super Jew 2.0/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-90ermzqbpn] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-90ermzqbpn] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-90ermzqbpn] {
    font-size: 1.1rem;
}

.oi[b-90ermzqbpn] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-90ermzqbpn] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-90ermzqbpn] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-90ermzqbpn] {
        padding-bottom: 1rem;
    }

    .nav-item[b-90ermzqbpn]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-90ermzqbpn]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-90ermzqbpn]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-90ermzqbpn] {
        display: none;
    }

    .collapse[b-90ermzqbpn] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
