@page "/createaccountfinal"



    <div class="message">
        <p>Thanks for registering! Log in and add some Shuls! </p>
        <img src="SupermanJewish.jpg" alt="Image Description">
    </div>



@code {

}
